<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CarritoController</display-name>
    <servlet-name>CarritoController</servlet-name>
    <servlet-class>controller.CarritoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarritoController</servlet-name>
    <url-pattern>/CarritoController</url-pattern>
  </servlet-mapping>
  <display-name>47_libreria_v2_carrito</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LibrosController</servlet-name>
    <servlet-class>controller.LibrosController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TemasController</servlet-name>
    <servlet-class>controller.TemasController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrosController</servlet-name>
    <url-pattern>/LibrosController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TemasController</servlet-name>
    <url-pattern>/TemasController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/FrontController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitarCarritoController</display-name>
    <servlet-name>QuitarCarritoController</servlet-name>
    <servlet-class>controller.QuitarCarritoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitarCarritoController</servlet-name>
    <url-pattern>/QuitarCarritoController</url-pattern>
  </servlet-mapping>
</web-app>